# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!/bin/bass.dll
!/bin/hge.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.pdb
*.db
*.opendb
*.ilk
*.user
*.idb
*.tlog
*.suo
UpgradeLog.htm
